* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

#app {
  background-color: rgb(224 242 254);
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#parent {
  width: 75%;
  height: 75%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1rem;
  gap: 1em;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: medium;
  padding: 0.25rem;
  /* justify-content: space-between; */
}
#form {
  display: flex;
  height: 60%;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 0.25rem;
  background-color: rgb(255 255 255);
  padding: 1rem;
}
.output {
  background-color: black;
  min-height: 40%;
  border-radius: 0.25rem;
  color: white;
}
.heading {
  text-align: center;
}
button {
  margin-top: 10px;
  align-self: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  font-weight: 700;
  border-radius: 0.5rem;
  background-color: black;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

pre {
  padding: 0.5em;
}
